@import '~antd/dist/antd.css';

.layout {
  background-color: transparent;
}

.ant-list {
  background-color: #ebecf0;
  border-color: lightgrey;
  border-radius: 4px;
  width: 272px;
}

.ant-card {
  background-color: #ebecf0;
  border-color: lightgrey;
  border-radius: 4px;
  width: 272px;
}

.ant-list-item {
  border-color: lightgrey;
}

body {
  background-color: rgb(241, 248, 253);
}

.card {
  text-align: left;
}